body {
    display: flex;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    background: radial-gradient(circle at 60% 45%, #071b57 0.001%, #161616 30%);
    color: rgb(230, 230, 230);
}


.sidebar {
    width: 800px; /* Increased width */
    background-color: #111111;
    padding: 20px;
    box-sizing: border-box;
}


.sidebar .profile {
    text-align: center;
}


.profile-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}


.profile-image img {
    width: 100%;
    height: auto;
    transform: translateY(-16%);
}


.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}


.sidebar nav ul li {
    margin: 20px 0;
}


.sidebar nav ul li a {
    color: rgb(230, 230, 230);
    text-decoration: none;
    font-size: 18px;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}


.main-content section {
    margin-bottom: 40px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.project-tile {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    border: 2px solid rgb(33,33,33);
}


.project-image {
    width: 100%;
    height: 250px; /* Fixed height for consistency */
    overflow: hidden;
    margin-bottom: 10px;
}


.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area */
    border-radius: 5px;
    border: 1px solid rgb(50,50,50);
}


.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}


.project-tag {
    background-color: #1a1a1a;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(100,100,100);
    font-size: 12px;
    border: 1.5px solid rgb(50,50,50);
}


.project-tile h3 {
    margin-top: 0;
}


.project-tile h3 a {
    color: rgb(214, 214, 214);
    text-decoration: none;
}


.project-tile a {
    color: #1abc9c;
    text-decoration: none;
}


.link {
    text-decoration: underline;
    color: #183fb3;
}
